<a href="https://colab.research.google.com/github/shajjad1187/PC-B-Assignment-on-Note-Book-1-2-3/blob/main/PC_B_Assignment_On_Note_Book_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1.  **My Python First Program "Print HeLLo World"**

In [ ]:
print("Print HeLLo World");

Print HeLLo World

# 2.1. **Variables and Assignment Statements**

In [ ]:
X = 10;
Y = 10;
print(X+Y);
total = X+Y;
print(total);

20
20

# **2.2. Variables and Assignment Statements.**

In [ ]:
String1 = "Mst.Sadia";
String2 = " Sultana";
StringAdd = String1+String2;
print(StringAdd);

Mst.Sadia Sultana

# **3. Types**

In [ ]:
number = 10;
type(number)

int

In [ ]:
type(10.5)

float

# **4. Arithmetic operators .**

In [ ]:
multiplication = 7*4;
print(multiplication);

add = 10+15;
print(add);

sub = 40-8;
print(sub);

Exponentiation = 2**10;
print(Exponentiation);

28
25
32
1024

# **5. True Division (/) vs. Floor Division (//).**

In [ ]:
True_Division = 7/4;
print(True_Division);

Floor_Division = 7//4;
print(Floor_Division);

remainder = 15%7;
print(remainder);

x = 105;
y = 100;
print(x>y);
print(x<y);
print(x==y);
print(x<=y);
print(x>=y);
print(x!=y);

1.75
1
1
True
False
False
False
True
True

# **6. Chaining Comparisons .**

In [ ]:
x = 3
y = 10
1 <= x <= 5

True

In [ ]:
1 <= y <= 5

False

# **7. Printing a Comma-Separated List of Items .**

In [ ]:
print('Welcome', 'to', 'Python!')

Welcome to Python!

# **8. Printing Many Lines of Text with One Statement .**

In [ ]:
print('Welcome\nto\nPython!')

Welcome
to
Python!

# **9. Ignoring a Line Break in a Long String .**

In [ ]:
print('this is a longer string, so we \ split it over two lines')

this is a longer string, so we \ split it over two lines

# **10. Printing the Value of an Expression .**

In [ ]:
print('Sum is', 7 + 3);

Sum is 10

# **11. What does the following print statement display?**

In [ ]:
print('int(5.2)', 'truncates 5.2 to', int(5.2))

int(5.2) truncates 5.2 to 5

# **12 . Including Quotes in Strings .**

In [ ]:
print('Display "hi" in quotes');
print('Display \'hi\' in quotes'); #using the \' escape sequence:
print("Display the name O'Brien");
print("Display \"hi\" in quotes");

Display "hi" in quotes
Display 'hi' in quotes
Display the name O'Brien
Display "hi" in quotes

# **13. To avoid using ' and " inside strings, you can enclose such strings in triple quotes :**

In [ ]:
print("""Display "hi" and 'bye' in quotes""");

Display "hi" and 'bye' in quotes

# **14 . Multiline Strings .**

In [ ]:
triple_quoted_string = """This is a triple-quoted string that spans two lines""";
print(triple_quoted_string);

This is a triple-quoted string that spans two lines

In [ ]:
print("""This is a lengthy multiline string containing a few lines \ of text""");

This is a lengthy multiline string containing a few lines \ of text

# **15. Precision Handling in Python .**

In [ ]:
a = 3.4536475856

# using "%" to print value till 2 decimal places
print ("The value of number till 2 decimal place(using %) is : ",end="");
print ('%.2f' %a);

# using "%" to print value till 4 decimal places
print ("The value of number till 2 decimal place(using %) is : ",end="");
print ('%.4f' %a);

The value of number till 2 decimal place(using %) is : 3.45
The value of number till 2 decimal place(using %) is : 3.4536

# **16. Getting Input from the User .**

In [ ]:
#The built-in input function requests and obtains user input:

name = input("What's your name? ");
print(name);

What's your name? Afzal
Afzal

In [ ]:
value1 = input("Enter The First Number: ");
value2 = input("Enter Second number: ");
total = value1 + value2;
print(total);

type(total) #python takes input as a string we have to type cast the input.

Enter The First Number: 30
Enter Second number: 40
3040

str

In [ ]:
total = int(value1) + int(value2); #type casting to int format.
print(total);

70

# 17. Getting an Integer from the User by casting the input format .

In [ ]:
intvalue = int(input('Enter The integer value: '));
print(intvalue);

Enter The integer value: 10
10

# **18. Taking multiple input from the user .**

In [ ]:
a, b = input().split();
print(a , b);
print(type(a));

10 20
10 20
<class 'str'>

# **Min number and Max number .**

In [ ]:
number1 = int(input('Enter first integer: '));
number2 = int(input('Enter second integer: '));
number3 = int(input('Enter third integer: '));

min1 = (number1,number2,number3);
print(min(min1));
max1 = (number1,number2,number3);
print(max(max1));

Enter first integer: 20
Enter second integer: 50
Enter third integer: 100
20
100

# **Exercises - 01:**

In [ ]:
#Create the variables x = 2 and y = 3, then determine what each of the following statements displays:

x = 2;
y = 3;
print('x =', x)

print('Value of', x, '+', x, 'is', (x +x))
print('x =')

print((x + y), '=', (y + x))

x = 2
Value of 2 + 2 is 4
x =
5 = 5